<div class="row">
    <div class="overlay" v-show="loading">
        <pulse-loader class="overlay-content"></pulse-loader>
    </div>
    
    <notifications group="categorie" position="bottom center" />
    <v-dialog/>
    
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                Liste des categories
            </div>
            <div class="card-body no-padding ">
                <b-table :data="tableDataSimple" :paginated="true">
                    <template slot-scope="props" slot="header">
                        <b-tooltip :active="!!props.column.meta" :label="props.column.meta" dashed>
                            {{ props.column.label }}
                        </b-tooltip>
                    </template>
                    <template slot-scope="props">

                        <b-table-column field="name" label="Nom" sortable>
                            {{ props.row.name }}
                        </b-table-column>

                        <b-table-column field="tags" label="Types" sortable>

                            <b-taglist>
                                <b-tag v-for="item in splitTags(props.row.tag)">{{item}}</b-tag>

                            </b-taglist>
                        </b-table-column>

                        <b-table-column label="Image">
                            <img class="imageList" :src="generateLink(props.row.photo)" />
                        </b-table-column>

                        <b-table-column label="Supprimer">
                            <input type="button" class="btn btn-light btn-danger btn-xs" value="Supprimer" v-on:click="promptRemove( props.row.name )">
                        </b-table-column>
                    </template>

                </b-table>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Ajouter une categorie
            </div>
            <div class="card-body">
                <form class="form form-horizontal">



                    <div class="form-group">
                        <label class="col-md-3 control-label">Nom</label>
                        <div class="col-md-4">
                            <div :class="{'input-group': true, 'has-error': errors.has('nameCategorie') }">
                                <input v-model="nameCategorie" v-validate="'required'" name="nameCategorie" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-md-offset-3 ">
                        <span v-show="errors.has('nameCategorie')" class="list-group-item list-group-item-danger">
                            {{ errors.first('nameCategorie') }}
                        </span>
                    </div>
                    <br>
                    <div class="form-group ">
                        <label class=" col-md-3 control-label">Types</label>
                        <div class="col-md-4 ">
                            
                                <section>
                                    <b-field>
                                        <b-taginput v-model="tagList" v-validate="'required'" icon="label" placeholder="" :data="filteredTags"  @typing="getFilteredTags" autocomplete name="tagList" field="name">
                                         
                                        </b-taginput>
                                    </b-field>

                                </section>
                            

                        </div>
                        <div class="col-md-9 col-md-offset-3 ">
                            <span v-show="errors.has('tagList')" class="list-group-item list-group-item-danger">
                                {{ errors.first('tagList') }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Image</label>
                        <b-field>
                            <b-upload v-model="image" accept="image/*" name="image" v-validate="'required|image'">
                                <a class="button is-primary">
                                    <b-icon icon="upload"></b-icon>
                                    <span>Selectionner une image</span>
                                </a>
                            </b-upload>
                            <div v-if="image && image.length">
                                <span class="file-name">
                                    {{ image[0].name }}
                                </span>
                            </div>
                        </b-field>
                        <div class="col-md-9 col-md-offset-3 ">
                            <span v-show="errors.has('image')" class="list-group-item list-group-item-danger">
                                {{ errors.first('image') }}
                            </span>
                        </div>
                    </div>
                    <div class="form-footer">
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <button type="button" class="btn btn-primary" v-on:click="addCategory()">Enregister</button>
                                <button type="button" class="btn btn-default" v-on:click="reset()">Annuler</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>