<div class="row">
    <div class="overlay" v-show="loading">
        <pulse-loader class="overlay-content"></pulse-loader>
    </div>
    <!-- Modal Component -->
    <v-dialog :width="1000" />

    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                Liste des Stacktrace
            </div>
            <div class="card-body no-padding ">
                <b-table :data="stacktraces" :paginated="true">
                    <template slot-scope="props" slot="header">
                        <b-tooltip :active="!!props.column.meta" :label="props.column.meta" dashed>
                            {{ props.column.label }}
                        </b-tooltip>
                    </template>
                    <template slot-scope="props">

                        <b-table-column field="store" label="StoreRDC" sortable>
                            {{ props.row.store }}
                        </b-table-column>
                        <b-table-column field="storee" label="Store" sortable>
                            {{ props.row.storeE.name }}
                        </b-table-column>
                        <b-table-column field="date" label="Date" sortable>
                            <span class="tag is-success">
                                {{ new Date(props.row.date) | formatDate }}
                            </span>

                        </b-table-column>



                        <b-table-column field="b" label="Stacktrace">
                            <input type="button" class="btn btn-light btn-info btn-xs" value="Afficher" v-on:click="info(props.row,false)">
                        </b-table-column>
                        <b-table-column field="a" label="Description" sortable>
                            <input v-if="props.row.description != null && props.row.decription != ''" type="button" class="btn btn-light btn-warning btn-xs"
                                value="Description" v-on:click="info(props.row,true)">
                        </b-table-column>
                    </template>

                </b-table>

            </div>
        </div>
    </div>
</div>