<div>
    <div id="page">
        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 text-right gtco-contact">
                        <ul class="">
                            <li>
                                <a href="#">
                                    <i class="ti-mobile"></i> +(216) 52004004 </a>
                            </li>
                            <li>
                                <a href="http://twitter.com/gettemplatesco">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-mail2"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div id="gtco-logo">
                            <h1 style="color: white">
                                <b>Efficaisse</b>
                            </h1>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right menu-1">
                        <ul>
                            <li>
                                <a href="index">Accueil</a>
                            </li>
                            <li class="active" >
                                <a href="features">Fonctionnalités</a>
                            </li>
                            <li>
                                <a href="contact">Contact</a>
                            </li>
                            <li>
                                <a href="order">Tarifs</a>
                            </li>
                            <li>
                                <a href="about">A propos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <header id="gtco-header" class="gtco-cover gtco-cover-xs" role="banner" :style="{ backgroundImage: 'url(' + imagebg + ')' }">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc">
                                <h1 class="animate-box" data-animate-effect="fadeInUp">EFFICAISSE</h1>
                                <h2 class="animate-box" data-animate-effect="fadeInUp">Une caisse enregistreuse intuitive, pour une adoption rapide
                                    <br>Qu'est ce qu'on vous offre de plus ?
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="gtco-section border-bottom">
            <div class="gtco-container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                        <h2>Encaissement et prise de commandes</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <img src="~src/assets/images/icons/cashier.svg">
                            </span>
                            <div class="feature-copy">
                                <h3>Logiciel de caisse</h3>
                                <p>Encaissez vos clients facilement et rapidement avec Efficaisse.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <img src="~src/assets/images/icons/files.svg">
                            </span>
                            <div class="feature-copy">
                                <h3>Editez vos factures</h3>
                                <p>Imprimez un ticket ou une facture en connectant une imprimante à votre machine.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <img src="~src/assets/images/icons/barcodes.svg">
                            </span>
                            <div class="feature-copy">
                                <h3>Scannez vos articles</h3>
                                <p>Scannez vos produits et prestations avec une douchette, ils seront automatiquement ajoutés
                                    sur la facture, vous gagnerez du temps.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <img src="~src/assets/images/icons/money.svg">
                            </span>
                            <div class="feature-copy">
                                <h3>Encaissement multi-modes</h3>
                                <p>Encaissez dans le ou les moyens de paiement de votre choix. Gestion du rendu monnaie.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <img src="~src/assets/images/icons/handheld.svg">
                            </span>
                            <div class="feature-copy">
                                <h3>Prise de commandes</h3>
                                <p>Prenez les commandes depuis votre tablette, encaissez ensuite en 1 clic.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <img src="~src/assets/images/icons/setting.svg">
                            </span>
                            <div class="feature-copy">
                                <h3>Configurez votre boutique</h3>
                                <p>Personnalisez facilement Efficaisse pour s'adapter précisemment à vos besoins.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gtco-section border-bottom">
            <div class="gtco-container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                        <h2>ANALYSE DU BUSINESS</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <img src="~src/assets/images/icons/cashierr.svg">
                            </span>
                            <div class="feature-copy">
                                <h3>Gestion des caisses et caissiers</h3>
                                <p>Suivez chaque session-caissier avant et après clôture</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <img src="~src/assets/images/icons/shopping.svg">
                            </span>
                            <div class="feature-copy">
                                <h3>Gestion des stocks</h3>
                                <p>Gérez votre stock en temps réel, par lot et par unité, même à distance</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <img src="~src/assets/images/icons/stats.svg">
                            </span>
                            <div class="feature-copy">
                                <h3>Suivez votre performance</h3>
                                <p>Votre chiffre d’affaire, votre stock et autres rapports sont disponibles en temps réel et
                                    accessibles même à distance</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gtco-section border-bottom">
                <div class="gtco-container">
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                            <h2>Plus de services</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                                <span class="icon">
                                        <img src="~src/assets/images/icons/nowifi.svg">
                                </span>
                                <div class="feature-copy">
                                    <h3>Sans Internet</h3>
                                    <p>Efficaisse fonctionne dans les deux modes en ligne et hors ligne, elle s'occupe de la synchronisation.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                                <span class="icon">
                                    <img src="~src/assets/images/icons/cloud.svg">
                                </span>
                                <div class="feature-copy">
                                        <h3>Sécurité et confidentialité</h3>
                                        <p>Vos données sont hébergées dans notre cloud privé qui répondent aux éxigences de sécurité les plus strictes.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                                <span class="icon">
                                        <img src="~src/assets/images/icons/star.svg">
                                </span>
                                <div class="feature-copy">
                                    <h3>Suivi et fidélité clients</h3>
                                    <p> Un système de fidélisation et de suivi qui utilise des points que vos clients 
                                        peuvent obtenir et ce avec des rapports et statistiques 
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                                <span class="icon">
                                    <img src="~src/assets/images/icons/money.svg">
                                </span>
                                <div class="feature-copy">
                                    <h3>Encaissement multi-modes</h3>
                                    <p>Encaissez dans le ou les moyens de paiement de votre choix. Gestion du rendu monnaie.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                                <span class="icon">
                                    <img src="~src/assets/images/icons/handheld.svg">
                                </span>
                                <div class="feature-copy">
                                    <h3>Prise de commandes</h3>
                                    <p>Prenez les commandes depuis votre tablette, encaissez ensuite en 1 clic.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                                <span class="icon">
                                    <img src="~src/assets/images/icons/setting.svg">
                                </span>
                                <div class="feature-copy">
                                    <h3>Configurez votre boutique</h3>
                                    <p>Personnalisez facilement Efficaisse pour s'adapter précisemment à vos besoins.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div id="gtco-subscribe">
            <div class="gtco-container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                        <h2>INSCRIVEZ VOUS</h2>
                        <p>Restez informer par toutes nos nouveautés.</p>
                    </div>
                </div>
                <div class="row animate-box">
                    <div class="col-md-12">
                        <form class="form-inline">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label for="email" class="sr-only">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label for="name" class="sr-only">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Nom et Prénom">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <button type="submit" class="btn btn-default btn-block">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer id="gtco-footer" role="contentinfo">
            <div class="gtco-container">
                <div class="row row-p	b-md">

                    <div class="col-md-4">
                        <div class="gtco-widget">
                            <h3>About Us</h3>
                            <p>Meteor est une start-up innovante spécialisée dans le développement des solutions pour les commerces</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-md-push-1">
                        <div class="gtco-widget">
                            <h3>Links</h3>
                            <ul class="gtco-footer-links">
                                <li>
                                    <a href="contact">Contact</a>
                                </li>
                                <li>
                                    <a href="order">Acheter une licence</a>
                                </li>
                                <li>
                                    <a href="">Presse</a>
                                </li>
                                <li>
                                    <a href="about">A propos</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="gtco-widget">
                            <h3>Contact</h3>
                            <ul class="gtco-quick-contact">
                                <li>
                                    <a>
                                        <i class="icon-phone"></i> +(216) 52004004 </a>
                                </li>
                                <li>
                                    <a href="contact">
                                        <i class="icon-mail2"></i> efficaisse@meteor.co</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="row copyright">
                    <div class="col-md-12">
                        <p class="pull-left">
                            <small class="block">&copy; 2018 Meteor. Tous droits réservés.</small>
                        </p>
                        <p class="pull-right">
                            <ul class="gtco-social-icons pull-right">
                                <li>
                                    <a href="#">
                                        <i class="icon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>

            </div>
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop">
            <i class="icon-arrow-up"></i>
        </a>
    </div>
</div>