<div>
	<div class="gtco-loader"></div>
	<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 text-right gtco-contact">
					<ul class="">
						<li><a href="#"><i class="ti-mobile"></i> +(216) 52004004 </a></li>
						<li><a href="http://twitter.com/gettemplatesco"><i class="ti-twitter-alt"></i> </a></li>
						<li><a href="#"><i class="icon-mail2"></i></a></li>
						<li><a href="#"><i class="ti-facebook"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><h1 style="color: white"><b>Efficaisse</b></h1></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li class="active"><a href="index">Accueil</a></li>
						<li><a href="features">Fonctionnalités</a></li>
						<li><a href="contact">Contact</a></li>
						<li><a href="order">Tarifs</a></li>
						<li><a href="about">A propos</a></li>
					</ul>
				</div>
			</div>		
		</div>
	</nav>

	<header id="gtco-header" class="gtco-cover" role="banner" :style="{ backgroundImage: 'url(' + imagebg + ')' }" >
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeInUp" ><img src="~src/assets/Efficaisse.png"></h1>
							<h2 class="animate-box" data-animate-effect="fadeInUp">La caisse intelligente réinventée pour tous les professionnels</h2>
							<p class="animate-box" data-animate-effect="fadeInUp"><a href="order" class="btn btn-white btn-lg btn-outline">COMMENCEZ DÈS AUJOURD'HUI</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="gtco-features-3">
		<div class="gtco-container">
			<div class="gtco-flex">
				<div class="feature feature-1 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="ti-tablet"></i>
						</span>
						<h3>Simple</h3>
						<p>Vendre n’a jamais été aussi simple. Profitez d’une caisse enregistreuse Android ergonomique, simple et efficace. </p>
						<p><a href="features" class="btn btn-white btn-outline">En savoir plus</a></p>
					</div>
				</div>
				<div class="feature feature-2 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="ti-light-bulb"></i>
						</span>
						<h3>Intelligente</h3>
						<p>Suivez en temps réel l'évolution de votre activité à l'aide de statistiques détaillées. </p>
						<p><a href="features" class="btn btn-white btn-outline">En savoir plus</a></p>
					</div>
				</div>
				<div class="feature feature-3 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="ti-timer"></i>
						</span>
						<h3>RAPIDE</h3>
						<p>Gagner plus de temps en centralisant toutes vos activités de gestion de votre boutique en une seule et unique application pour. </p>
						<p><a href="features" class="btn btn-white btn-outline">En savoir plus</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>Pour qui ?</h2>
					<p>DESTINÉ À TOUT COMMERCE DE DÉTAILS</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<img src="~src/assets/images/icons/epicerie.svg">
						<h3><br>Commerces de proximité</h3>
						<p>Superette, épicerie, un magasin de vente de détails, boulangerie, pâtisserie, là où il y a un produit à vendre et un stock à gérer.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<img src="~src/assets/images/icons/fastfood.svg">
						<h3><br>Consommation Rapide</h3>
						<p>Pâtisseries, fast-foods, crêperies..., Les pics de clients sont facilement gérables avec Efficaisse. </p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<img src="~src/assets/images/icons/mode.svg">
						<h3><br>Débit de boissons</h3>
						<p> Café, bar, lounge... La détente de votre établissement sera la votre aussi. </p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="gtco-portfolio" class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>Efficaisse</h2>
					<p>Plus besoin de plusieurs outils pour gérer votre entreprise et vos points de vente. Efficaisse centralise vos opérations de ventes en un seul outil et vous permet de les suivre en temps réel, de manière sécurisé, de partout dans le monde et sur n’importe quel device</p>
				</div>
			</div>

			<div class="row row-pb-md">
				<div class="col-md-12">
					<ul id="gtco-portfolio-list">
						<li class="two-third animate-box gtco-heading " data-animate-effect="fadeIn" :style="{ backgroundImage: 'url(' + image1 + ')' }"> 
							<a class="color-4 text-center ">						
									<h2>Accessible Partout</h2>
									<p>Où que vous soyez dans le monde, suivez votre business en temps réel.
										Vos données seront toujours disponibles et mis à jours sur le Cloud.</p>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" :style="{ backgroundImage: 'url(' + image2 + ')' }">
							<a href="#" class="color-2">
								<div class="case-studies-summary">
									<span>Innovante</span>
									<h2>Apportez de la lumière à votre  commerce</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" :style="{ backgroundImage: 'url(' + image5 + ')' }"> 
							<a href="#" class="color-5">
								<div class="case-studies-summary">
									<span>SECURITÉ</span>
									<h2>Soyez tranquille, Vos données sont stockées dans des serveur privés sécurisés.</h2>
								</div>
							</a>
						</li>
						<li class="two-third animate-box gtco-heading" data-animate-effect="fadeIn" :style="{ backgroundImage: 'url(' + image6 + ')' }">
							<a class="color-6 text-center">
								<div class="case-studies-summary">
									<h2>Unique</h2>
									<p>Plus besoin de 6 milles outils pour gérer votre entreprise.Centralisez toutes vos activités en une seule application</p>
								</div>
							</a>
						</li>
					</ul>		
				</div>
			</div>		
		</div>
	</div>

	<div id="gtco-products">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>PRODUIT</h2>
					<p>Contactez nous pour avoir plus d'informations et commencez à utiliser EFFICAISSE.</p>
				</div>
			</div>
			
			<div class="row">
					<div class="col-md-4 col-md-offset-4 text-center animate-box">
						<a href="contact" class="btn btn-black btn-outline btn-lg btn-block">Contactez-nous</a>
					</div>
			</div>
		</div>
	</div>

	

	<div id="gtco-subscribe">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>INSCRIVEZ VOUS</h2>
					<p>Restez informer par toutes nos nouveautés.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-12">
					<form class="form-inline">
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="name" class="sr-only">Name</label>
								<input type="text" class="form-control" id="name" placeholder="Nom et Prénom">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="submit" class="btn btn-default btn-block">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-p	b-md">

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>About Us</h3>
						<p>Meteor est une start-up innovante spécialisée dans le développement des solutions pour les commerces</p>
					</div>
				</div>

				<div class="col-md-4 col-md-push-1">
					<div class="gtco-widget">
						<h3>Links</h3>
						<ul class="gtco-footer-links">
							<li><a href="contact">Contact</a></li>
							<li><a href="order">Acheter une licence</a></li>
							<li><a href="">Presse</a></li>
							<li><a href="about">A propos</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>Contact</h3>
						<ul class="gtco-quick-contact">
							<li><a><i class="icon-phone"></i> +(216) 52004004 </a></li>
							<li><a href="contact"><i class="icon-mail2"></i> efficaisse@meteor.co</a></li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2018 Meteor. Tous droits réservés.</small> 
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
</div>
